@font-face {
	font-family: 'BungeeTint';
	src: url('fonts/BungeeTint.ttf') format('truetype'); /* Correct format */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bytesized';
	src: url('fonts/Bytesized.ttf') format('truetype'); /* Correct format */
	font-weight: normal;
	font-style: normal;
}

html {
	font-family: "Arial", sans-serif;
	color: white;
	background-color: #8e8e8e;
}

body {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.column {
	flex: 1;
	background-color: #464646;
	margin: 10px;
	padding: 10px 20px;
	border: 4px solid #CFB87C;
	border-radius: 8px;
	box-sizing: border-box;
	height: 97vh;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

h1 {
	color: #CFB87C;
}

/* --------------------------- *** List Modifications ***  --------------------------- */

ol,
ul {
	padding: 10px 30px;
	border-radius: 4px;
	color: white;
	background-color: #464646;
	border: 2px solid #CFB87C;
	box-shadow: 2px 2px 8px rgba(0, 0, 0.8s, 0.5);
}

li {
	padding: 5px;
}

dt {
	color: #CFB87C;
	font-size: 1.3rem;
	padding: 10px 0px;
}

/* --------------------------- *** Custom Fonts ***  --------------------------- */

#BungeeTint {
	font-family: 'BungeeTint';
}

#Bytesized {
	font-family: 'Bytesized'; /* Apply the Bytesized font */
}